@page
@{
    ViewData["Title"] = "SGF Web Devs";
}

<div class="main">
    <div class="section_1">
        <div class="item-01">
            <img src="/images/Logo.svg" alt="SGF Web Devs">
        </div>
        <div class="item-02">
            <img src="/images/dub.svg" alt="W">
        </div>
        <div class="item-03">

        </div>
        <div class="item-04 active">
            <a class="btn" href="#open-modal"><img src="/images/Download Icon.svg" alt="download"></a>
        </div>
        <div id="open-modal" class="modal-window">
            <header>
                <div class="flex">
                    <img src="/images/Logo.svg">
                    <a href="#" title="Close" class="modal-close">Close</a>
                </div>
                <h1>Download Our App</h1>
                <!-- <div class="content">
                    <img src="/images/content.png"  style ="height:100px;"alt="app"></div>
                </div> -->
            </header>
        </div>
        <div class="item-05">

        </div>
        <div class="item-06">
            
        </div>
        <div class="item-07">
            <img src="/images/vub.svg" alt="V">
        </div>
        <div class="item-08">

        </div>
        <div class="item-09 active">
            <img src="/images/Pizza Icon.svg" alt="Za">
        </div>
    </div>
    <div class="section_2">
        <div class="item-10 active">
            <img src="/images/Event Icon.svg" alt="calendar">
        </div>
        <div class="item-11">
            
        </div>
        <div class="item-12">
            <div class="nested active">
                <a href="https://www.twitch.tv/sgfwebdevs"><img src="/images/twitch.svg" alt="twitch"></a>
            </div>
            <div class="nested active">
                <a href="https://twitter.com/sgfwebdevs"><img src="/images/twitter.svg" alt="twitter"></a>
            </div>
            <div class="nested active">
                <a href="https://www.youtube.com/c/sgfwebdevs/videos"><img src="/images/youtube play.svg" alt="youtube"></a>
            </div>
            <div class="nested active">
                <a href="https://github.com/sgf-web-devs/SGF-Web-Devs"><img src="/images/github.svg" alt="git"></a>
            </div>
            <div class="nested active">
                <a href="https://www.facebook.com/groups/837398662948655/"><img src="/images/facebook f.svg" alt="fbook"></a>
            </div>
            <div class="nested active">
                <a href="https://slack.com/"><img src="/images/slack.svg" alt="slack"></a>
            </div>
            <div class="nested_empty">
               
            </div>
            <div class="nested active">
                <a href="https://www.meetup.com/SGF-Web-Devs/"><img src="/images/meetup.svg" alt="meetup"></a>
            </div>
        </div>
        <div class="item-13">
            
        </div>
        <div class="item-14">
            
        </div>
        <div class="item-15">
            
        </div>
        <div class="item-16">
            
        </div>

    </div>
</div>